/* General container styling */
.appointment-confirmation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  padding: 10px; /* Reduced padding */
  min-height: 100vh;
  margin-top: -200px;
}

/* Header styling */
.confirmation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.header-left {
  flex: 1;
  text-align: left;
}

.header-right {
  flex: 1;
  text-align: right;
}

.main-button {
  padding: 8px 16px; /* Reduced button padding */
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #183e9f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.main-button:hover {
  background-color: #0055aa;
}

.confirmation-logo {
  width: 120px;
  height: auto;
}

/* Main content styling */
.confirmation-main {
  width: 100%;
  max-width: 500px;
  margin-top: 10px; /* Reduced margin for main content */
}

.confirmation-title {
  font-size: 24px;
  font-weight: bold;
  color: #183e9f;
  margin-bottom: 50px; /* Reduced margin */
}

.confirmation-message {
  font-size: 16px;
  color: #666;
  margin-bottom: 50px; /* Reduced margin */
}

/* Table styling */
.appointment-details-table {
  width: 100%;
  border: 1px solid #183e9f;
  border-collapse: collapse;
  margin-bottom: 80px; /* Reduced table margin */
}

.appointment-details-table th,
.appointment-details-table td {
  padding: 8px; /* Reduced padding for cells */
  text-align: center;
  border: 1px solid #183e9f;
  font-size: 14px;
}

.appointment-details-table th {
  background-color: white;
  color: #183e9f;
  font-weight: bold;
}

.appointment-details-table td {
  background-color: #f9f9f9;
  color: #183e9f;
}

/* Buttons styling */
.confirmation-buttons {
  display: flex;
  flex-direction: column;
  gap: 25px; /* Reduced gap between buttons */
  width: 250px;
  margin-left: 125px;
}

.action-button {
  padding: 12px; /* Reduced button padding */
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #183e9f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.action-button:hover {
  background-color: #0055aa;
}
