
  /* ManageAppointment container Styling */
.ManageAppointment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  /* padding: 20px;
  min-height : 100vh; */
}
  /* Header */
  .ManageAppointment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    /* margin-bottom: 5px; */
    margin-top: -30px;
    padding: 0 20px;
  }

  .header-left {
    /* display: flex; */
    flex: 1;
    text-align: center;
    align-items: left;
    margin-top: 200px;
    margin-right: -20px;
  }

  .header-center {
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: center; 
    margin-left: -25px;
    margin-bottom: -20px;
  }

  .header-right {
    flex: 1;
    /* display: flex; */
    text-align: right;
    align-items: right;
    margin-top: 180px;
    margin-left: -20px;
  }

  .booking-application-text {
    font-size: 20px;
    font-weight: bold;
    color: #183e9f;

  }

  /* app logo */
  .ManageAppointment-logo {
    width: 120px;
    height: auto;
  }

  .logout-button {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #183e9f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .logout-button:hover {
    background-color: #0055aa;
  }

  /* Navigation styling */
  .ManageAppointment-nav {
    display: flex;
    justify-content: center;
    width: 100%; 
    margin-bottom: 20px;

  }

  .nav-button {
    /* flex: 1; */
    /* padding: 10px 20px; */
    font-size: 16px;
    color: #183e9f;
    border: 1px solid #183e9f;
    background-color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .nav-button.active {
    background-color: #183E9F;
    color: #ffffff;
    font-size: 20px;
  }

  .nav-button:not(.active):hover {
    background-color: #e6f0ff;
    font-size: 20px;
  }

  .nav-button:not(.active) {
    font-size: 20px;
  }

  /* appoitments cells Styling */
  .ManageAppointment-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    /* padding: 20px;
    min-height : 100vh; */

  }

  .ManageAppointment-title {
    font-size: 24px;
    font-weight: bold;
    color: #183E9F;
    margin-bottom: 20px;
    text-align: center;
  }

  .Patient-name {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    color: #389cce;
    margin-bottom: 2px;
    /* text-align: left; */
    margin-inline-end: auto;
  }

  .UpcomingAppointment-title {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #183e9f;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 0px;
    /* margin-bottom: 20px; */
  }

  .ManageAppointment-table {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .ManageAppointment-appointment {
    border: 1px solid #389cce;
    border-radius: 5px;
    padding: 8px 22px;
    text-align: left;
    font-size: 18px;
    padding-left: 27px ;
    padding-right: 27px;
    /* display: flex;
    justify-content: space-between; */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  }

  .ManageAppointment-appointment p{
    display: flex;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: bold;
  }

  .ManageAppointment-appointment .label {
    color: #389cce;
    font-weight: bold;
    margin-right: 7px;
    font-size: 18px;
  }



.reschedule-button {
  background-color: #183E9F;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.cancel-button {
  background-color: #d64d4d;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.reschedule-button.disabled {
  background-color: #b3b3b3;
  cursor: not-allowed;
  pointer-events: none;
}

.cancel-button.disabled {
  background-color: #b3b3b3;
  cursor: not-allowed;
  pointer-events: none;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  width: 190px;
  background-color: #555;
  color: #fff;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -150px;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip-container:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.reschedule-button:hover {
  background-color: #0055aa;
}

.cancel-button:hover {
  background-color: #aa0000;
}

.h1 {
  color:#183E9F;
  font-weight: bold;
}

  
  .main-button {
    background-color: #183e9f;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }

